EXC#1

In [3]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd
import csv
browser = webdriver.Chrome()
url = "http://rate.am/en/armenian-dram-exchange-rates/banks/non-cash"
browser.get(url)

In [4]:
all_dates=browser.find_element_by_css_selector('#aspnetForm > div.cnt > div.cnt-body > div.cnt-left > div.rb-de > div.archive > table > tbody > tr > td:nth-child(1) > a')
all_dates.click()

In [6]:
year=browser.find_element_by_css_selector('#calBorder > span > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(2) > select')
select_1 = Select(year)
select_1.select_by_visible_text('2016')

In [7]:
month=browser.find_element_by_css_selector('#calBorder > span > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td:nth-child(1) > select')
select_2 = Select(month)
select_2.select_by_visible_text('July')

In [9]:
j_20=browser.find_element_by_css_selector('#calBorder > span > table > tbody > tr:nth-child(3) > td > table > tbody > tr:nth-child(5) > td:nth-child(3)')
j_20.click()

In [10]:
result=browser.find_element_by_css_selector('#ctl00_Content_RB_dtpick1_btnOk')
result.click()

In [11]:
raw_data = pd.read_html(browser.find_element_by_class_name("rb").get_attribute('outerHTML'))
new_data = raw_data[0]
clean_data = new_data[2:19]

In [12]:
del clean_data[0]
del clean_data[2]
del clean_data[3]

In [13]:
clean_data.columns = ["Bank", "Date", "USD_buy", "USD_sell", "EUR_buy", "EUR_sell", "RUB_buy", "RUB_sell", "GBP_buy", "GBP_sell"]

In [14]:
clean_data

,Bank,Date,USD_buy,USD_sell,EUR_buy,EUR_sell,RUB_buy,RUB_sell,GBP_buy,GBP_sell
2,Արցախբանկ,"20 Jul, 20:00",475,478,520,528.0,7.35,7.70,616.0,631.0
3,ՀԱՅԲԻԶՆԵՍԲԱՆԿ ՓԲԸ,"20 Jul, 20:00",474,477,520.10,527.1,7.41,7.67,617.1,629.1
4,Էյչ-Էս-Բի-Սի Բանկ,"20 Jul, 20:00",473.50,478.50,519,529.0,7.36,7.67,618.5,630.5
5,Անելիք Բանկ,"20 Jul, 20:00",474,477.50,517,528.0,7.35,7.65,NaN,NaN
6,Յունիբանկ,"20 Jul, 20:00",473.50,478,519,531.0,7.40,7.80,610.0,640.0
7,Կոնվերս բանկ,"20 Jul, 20:00",475,478,520,527.0,7.43,7.77,619.0,628.0
8,Բիբլոս Բանկ Արմենիա,"20 Jul, 20:00",474,478.50,519,530.0,7.38,7.65,615.0,634.0
9,Արմսվիսբանկ,"20 Jul, 20:00",474.50,477.50,521,528.0,7.42,7.62,620.0,628.0
10,ԱԿԲԱ-ԿՐԵԴԻՏ ԱԳՐԻԿՈԼ ..,"20 Jul, 20:00",473.50,477.50,519.50,527.5,7.43,7.59,620.0,635.0
11,Ամերիաբանկ,"20 Jul, 20:00",473.50,477.50,519,529.0,7.37,7.62,621.5,631.5
12,Արդշինբանկ,"20 Jul, 20:00",474,478,518,530.0,7.35,7.65,615.0,645.0
13,ՎՏԲ-Հայաստան Բանկ,"20 Jul, 20:00",474,477.50,519,525.5,7.42,7.55,618.0,630.0
14,ԱՐԱՐԱՏԲԱՆԿ,"20 Jul, 20:00",474,477.50,516,530.0,7.40,7.75,616.0,633.0
15,Պրոմեթեյ Բանկ,"20 Jul, 20:00",475,477,521,527.0,7.44,7.67,619.0,629.0
16,ՀԱՅԷԿՈՆՈՄԲԱՆԿ,"20 Jul, 20:00",473.50,477.50,517,527.0,7.43,7.80,616.0,642.0
17,Ինեկոբանկ,"20 Jul, 20:00",475,477.75,519.50,527.5,7.38,7.60,619.0,633.0
18,Մելլաթ բանկ,"20 Jul, 20:00",473.50,477.50,519,529.0,NaN,NaN,NaN,NaN

In [15]:
import csv
from unicodecsv import *
with open("rates.csv","w") as f:
            clean_data.to_csv(f, header=True, index=False, encoding='utf-8')

In [16]:
browser.close()

EXC#2

In [17]:
from selenium import webdriver
browser = webdriver.Chrome()
url = "https://staff.am/en"
browser.get(url)

In [18]:
from BeautifulSoup import * 
trainings=browser.find_element_by_css_selector('#menu-header > li:nth-child(2) > a')
trainings.click()
soup = browser.page_source
page_2 = browser.find_element_by_css_selector('#job-list-pagination > ul > li:nth-child(3) > a')
page_2.click()
soup_1=browser.page_source
page_3 = browser.find_element_by_css_selector('#job-list-pagination > ul > li:nth-child(4) > a')
page_3.click()
soup_2=browser.page_source
browser.close()

In [19]:
all_trainings=[]
soups=[soup,soup_1,soup_2]
for i in soups:
    new_soup = BeautifulSoup(i)
    titls=new_soup.findAll('div',attrs={'class':"job-inner training-item-title"})    
    for i in titls:
        if i.find('span')==None:
            all_trainings.append(i.find('h4').text +" - " +i.find('p').text + "- "+ "0 AMD")
        else:
            all_trainings.append(i.find('h4').text +" - " +i.find('p').text + "- "+ i.find('span').text + " AMD")
x=str(all_trainings)

In [20]:
import re
xx=re.sub(r',', r'',x)
xxx=re.findall('-\s([0-9]+)',xx)
print(xxx)

['57500', '0', '84000', '48000', '50000', '69000', '0', '0', '0', '0', '0', '0', '0', '73000', '52000', '96000', '45000', '96000', '125000', '4800', '0', '0', '0']

In [21]:
prices=[]
for i in xxx:
    prices.append(int(i))

In [22]:
av_price=sum(prices)/len(prices)

In [23]:
av_price

34795

EXC#3

In [24]:
from selenium import webdriver
browser = webdriver.Chrome()
url = "https://www.cba.am/EN/SitePages/Default.aspx"
browser.get(url)

In [26]:
rate_USD=browser.find_element_by_css_selector('#ctl00_PlaceHolderMain_g_863d4f31_7343_4804_bedb_aa7f55c1305a_updatePanelctl00_PlaceHolderMain_g_863d4f31_7343_4804_bedb_aa7f55c1305a > li.gray_2 > em:nth-child(3)')
print(rate_USD.text)

478.85

In [27]:
browser.close()